
.Card {
    display: inline;
    display: flex;
    padding: 10px 10px 10px 10px;
    background-color: rgb(110, 107, 107);
    flex-direction: column;
    border-radius: 10px;
    max-width: 250px;
   
    justify-content: center;
    align-items: center;
   
   
    
}
.Header {

    flex-direction: column;
}
.Img {
    max-height: 200px;
    width: 200px;
}

.nombreItem {
    max-width: 200px;
    text-align: center;
}
.info {
    text-align: center;
}

footer{
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
}

.ButtonFin {
    background-color: green;
    border-radius: 5px;
    max-height: 20px;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 0 10px;
}
.ButtonCancel {
    background-color:red;
    border-radius: 5px;
    max-height: 50px;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 0 10px;
    
}
.CarritoVacio{

    display: inline-block;
    background-color: rgb(155, 67, 67);
    border-radius: 10px;
    padding: 10px;
    
}