.navbar {
    background-color: #5a8896;
    color: #fff;
  }
  .Title{
    font-size: xx-large;
    text-decoration-line: none;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 10px; 
    font-size: x-large;
    font-style:oblique;
    text-decoration-color: black;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }

 
  button {
    cursor: pointer;
  }


.Option {
    text-decoration-line: none;
}
.ActiveOption{
  background-color: #4fa6c0;
  text-decoration-line: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width: auto;
  text-align: center;
}